*{
    box-sizing: border-box;
}
nav a {
 font-size: 20px;
  text-decoration: none;
  margin: 20px;
  padding: 10px;
  color: white;
}

header {
  background-color: black;
  text-align: center;
  height: auto;
  max-width: 100%;
  color: white;
  margin-bottom: 14px;
  padding: 15px;
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px auto;
    max-width: 100%;
    height: auto;
    display: block;
}

.container-flex {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
     margin: 40px auto;
    border: 1px solid #c0c0c0;
     padding: 10px;
     background-image:url(assets/images/imagefecran.jpg) ;
     background-size:70%;
     font-size: 10px;
     
     
    }

     form {
            width: 50%;
            margin: 0 auto;
            padding: 30px;
            border: 1px solid #c0c0c0;
            text-align: center;
            background-color: black;
            justify-content: center;
            max-width: 100%
      }

      input,
        select {
            height: 30px;
            max-width: 100%;
            
        }

        textarea {
            resize: vertical;
            max-width: 100%;
            /* vertical | horizontal | none */
            
        }
h3  {
    color: white;
}

h4 {
    color: white;
}
       
a {
  color: white;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  max-width: 100%;
  height: auto;
  margin-bottom: 14px;
  
}
.footer {
  display: flex;
  justify-content: space-around
}

main {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}


        